/* Mobile  first  the default style */

body {
    font-family: 'DM Sans', sans-serif;
}

/* ======home====== */

/* header  start*/
.container {
    width  : 85.6%;
    margin : 0 auto;
    padding: 0;
}

.container-top {
    display              : grid;
    grid-template-columns: repeat(8, 1fr);

}

.top {
    background-color: #F9E4DD;
    max-height      : 143px;

}

.logo {
    grid-column: 1/5;
    text-align : center;
}

.logo img {
    max-width    : 74px;
    margin-top   : 36px;
    margin-bottom: 34px;
}


.top nav {
    grid-column           : 7/9;
    /* background-color   : blueviolet; */
    /* background-color   : chartreuse; */
    padding-top           : 12px;
    padding-bottom        : 16px;

}

 /* I use this to overwrite the bootstrap css */
ol,
ul {
    padding-left: 0;
}

nav ul {
    height         : 100%;
    display        : flex;
    flex-direction : column;
    justify-content: space-between;

}

nav ul li {
    display   : block;
    text-align: center;
}

/* nav ul li:hover{
    background-color: #fff;
} */

ul li a {
    display        : block;
    text-decoration: none;
    color          : #333333;
    /* color       : darksalmon; */
    font-size      : 12px;
    font-weight    : 700;
    width          : 100%;
}

/* animation */
ul li a:hover {
    color           : #000;
    background-color: #fff;
    border-radius: 6px;
    transform: scale(1.1);
    transition-property:scale;
    
    
    transform: translateY(-6px);
    
    

   
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.3);
    transition: box-shadow .2s ease-in .2s;    
    
}



ul li a:active {
    color           : #4D3232;
    background-color: #fff;
}



/* header  end*/

/* ======home====== */

/* home main start*/

/* home-1 start */

.home {
    margin-bottom      : 32px;
    /* background-color: aqua; */
}

.home-1 {
    margin-bottom: 32px;
}

.title {
    min-height    : 268px;
    padding-top   : 90px;
    padding-bottom: 90px;
    display       : flex;
}

.title p {
    font-size     : 24px;
    font-weight   : 700;
    text-align    : center;
    line-height   : 36px;
    letter-spacing: 2px;
    margin        : auto;
}

.home-1 img {
    width: 100%;
}

/* home-1 end */

/* home-2 start */


.home-2-text1,
.home-2-text2 {
    background-color: #F9E4DD;
    display         : flex;
    min-height      : 160px;
}

/* I use this to make the h3 stay in the parent element vertically
and horizontally in the center */
.home-2 h3 {
    font-size  : 12px;
    font-weight: 700;
    text-align : center;
    margin     : auto;

}

.home-2 {
    display           : grid;
    grid-template-rows: repeat(4, 1fr);
    row-gap           : 8px;

}

.home-2 img {
    width: 100%;
}



/* home-2 end */
/* home main end*/

/* ======home====== */

/* ======about====== */

/* about main start*/

.about h2 {
    font-size    : 18px;
    font-weight  : 700;
    text-align   : center;
    margin-top   : 64px;
    margin-bottom: 36px;
}

.about p {
    font-size  : 12px;
    line-height: 18px;
    text-align : center;
}



.about-img-1 {
    text-align: center;

}

.about-img-1 img {


    /* the percentage of the image is relatively to 
    the parent element which is the container,so
    I calculate the percentage of the image base on that*/

    width        : 48.3%;
    margin-bottom: 36px;
}



.about-p-education {
    background-color: #F9E4DD;
    height          : 230px;

    /* I use this to make the son element 
    stay horizonally center */

    display: flex;


}

.about-p-education p {
    margin-bottom: 0;
    margin       : auto;

}


.about-2 {
    display  : flex;
    flex-wrap: wrap;

    /* Q  */

}

.about-2 div {
    width        : 50%;
    margin-bottom: 8px;

}

.about-2 div:nth-child(1),
.about-2 div:nth-child(2) {
    /* background-color: coral; */
    margin-bottom: -24px;

}

/* I use this to make the image leave the column gap */
.about-2 div:nth-child(2),
.about-2 div:nth-child(4) {
    /* background-color: coral; */
    text-align: right;

}


/* the width of the image is 100% of the parent elements and
minus the half oh the column gap */
.about-2 div img {
    width: calc(100% - 4px);
}


/* I use the this to put the text on the image */
.about-2 div p {
    position           : relative;
    top                : -32px;
    /* background-color: rgba(39, 214, 226, 0.4); */
    font-weight        : 500;
}


/* about main end*/

/* ======about====== */

/* ======projects====== */

.projects {
    margin-bottom: 64px;
}

.projects h2 {
    font-size    : 24px;
    font-weight  : 700;
    margin-top   : 64px;
    margin-bottom: 32px;
    text-align   : center;
}

.projects p {
    font-size    : 16px;
    text-align   : center;
    margin-bottom: 32px;
}

.projects img {
    width: 100%;
}

.projects-1 {
    display           : grid;
    grid-template-rows: repeat(4, 1fr);
    row-gap           : 8px;

}

.projects-2 div:nth-child(1) {
    margin-bottom: 32px;
}

.projects-3 {
    display           : grid;
    grid-template-rows: repeat(4, 1fr);
    row-gap           : 8px;
}


/* ======projects====== */

/* ======contact====== */

.contact {
    margin-bottom: 64px;

}

.contact h2 {
    font-size    : 24px;
    font-weight  : 700;
    margin-top   : 64px;
    margin-bottom: 32px;
}

.contact label {
    font-size    : 16px;
    font-weight  : 700;
    margin-bottom: 6px;
}



.contact label:nth-child(2),
.contact label:nth-child(3) {
    margin-top: 6px;

}

.form-control {
    border-radius: 0;
    border-color : #4D3232;
}

.contact button {
    height          : 24px;
    margin-top      : 12px;
    background-color: #707070;
    border          : 0;
    font-size       : 16px;
    font-weight     : 700;
}

.contact button:hover {
    background-color: #F9E4DD;
    color           : #707070;

}

/* ======contact====== */

/* footer start*/

footer {
    background-color   : #F9E4DD;
    padding-top        : 24px;
    padding-bottom     : 24px;
    /* background-color: fuchsia; */

}

footer p {
    font-size    : 10px;
    text-align   : center;
    margin-bottom: 32px;
}

.btn-group {
    display        : flex;
    justify-content: space-between;
}

.btn {
    font-size  : 14px;
    font-weight: 700;
}

/* footer end*/


/* tablet start*/
@media screen and (min-width: 768px) {

    .container {
        width : 81.25%;
        margin: 0 auto;
    }

    /* ======home====== */

    /* header start */
    body .top {
        /* background-color: #F9E4DD; */
        max-height: 180px;
    }

    .logo img {
        max-width    : 150px;
        margin-top   : 12px;
        margin-bottom: 16px;
    }

    .logo {
        grid-column: 1/3;
    }

    .top nav {
        grid-column: 5/9;
    }

    nav ul {
        display                 : grid;
        grid-template-columns   : repeat(4, 1fr);
        column-gap              : 8px;
        /* background-color     : cadetblue; */
    }

    nav ul li {
        padding-top        : 124px;
        /* background-color: crimson; */
        /* Q */
    }

    nav ul li a {
        display         : block;
        background-color: #707070;
        height          : 29px;
        line-height     : 29px;
        color           : #fff;
        font-size       : 13px;
        font-weight     : 500px;
    }

    /* header end */


    /* ======home====== */
    /* home-1 start */

    .home {
        margin-top   : 24px;
        margin-bottom: 32px;
    }

    .home-1 {
        display              : grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .title {
        padding: 0;
        display: flex;
    }

    .title p {
        font-size     : 32px;
        font-weight   : 700;
        text-align    : center;
        line-height   : 64px;
        letter-spacing: 2px;
        margin        : auto;
    }

    .home-1 img {
        width: 100%;
    }

    /* home-1 end */

    /* home-2 start */

    .home-2-text1,
    .home-2-text2 {
        background-color: #F9E4DD;
        display         : flex;
        min-height      : 160px;
    }

    /* I use this to make the h3 stay in the parent element vertically
and horizontally in the center */
    .home-2 h3 {
        font-size  : 24px;
        line-height: 36px;
        font-weight: 700;
        text-align : center;
        margin     : auto;
    }

    /* I use grid area to put the item in the 
    right order*/

    .home-2 {
        display              : grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows   : repeat(2, 1fr);
        row-gap              : 32px;
        column-gap           : 8px;
        grid-template-areas  :
            "a b"
            "c d";
    }

    .home-2-text1 {
        grid-area: a;
    }

    .home-2-img1 {
        grid-area: b;
    }

    .home-2-text2 {
        grid-area: d;
    }

    .home-2-img2 {
        grid-area: c;
    }

    /* main end */
    /* ======home====== */

    /* ======about====== */

    /* about main start */
    .about h2 {
        font-size: 24px;
    }

    .about p {
        font-size  : 16px;
        line-height: 32px;
    }

    .about .about-1 {
        display              : grid;
        grid-template-columns: repeat(8, 1fr);
        column-gap           : 8px;
    }

    .about .about-img-1 {
        grid-column        : 1/4;
        /* background-color: crimson; */
    }

    .about-img-1 img {
        width        : 100%;
        margin-bottom: 0;
    }

    .about-1 .about-1-p {
        grid-column        : 5/9;
        margin-bottom      : 0;
        /* background-color: darkcyan; */
        /* I use this to make the paragraph horizontally center */
        display            : flex;
        justify-content    : center;
        align-items        : center;
    }

    .about-1-p p {
        margin-bottom: 0;

    }

    .about-2 {
        margin-bottom: 64px;
    }

    .about-2 {
        flex-wrap      : nowrap;
        justify-content: space-between;
    }

    .about-2 div {
        width        : calc(100%/4 - 4px);
        margin-bottom: 0;
        margin-bottom: -48px;
    }

    /* Q */

    .about-2 div img {
        width: 100%;
    }

    .about-2 div p {
        width              : 100%;
        /* background-color: darkmagenta; */
    }

    .about-2 div p {
        position: relative;
        top     : -48px;
    }


    .about-2 div:nth-child(2),
    .about-2 div:nth-child(4) {
        text-align: left;
    }


    /* ======about====== */

    /* ======projects====== */
    .projects {
        margin-bottom: 64px;
    }

    .projects h2 {
        font-size: 36px;

    }

    .projects p {
        font-size: 24px;

        margin-bottom: 32px;
    }



    main .projects-1,
    main .projects-3 {
        display              : grid;
        grid-template-rows   : repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        row-gap              : 8px;
        column-gap           : 8px;
    }


    /* ======projects====== */

    /* ======contact====== */

    .contact {
        margin-bottom: 64px;

    }

    .contact h2 {
        font-size: 36px;
    }

    .contact label {
        font-size    : 24px;
        margin-bottom: 16px;

    }

    .contact label:nth-child(2),
    .contact label:nth-child(3) {
        margin-top: 12px;
    }

    .contact textarea {
        min-height: 120px;
    }

    .contact button {
        height    : 42px;
        margin-top: 20px;
        font-size : 24px;
    }

    .contact button:hover {
        background-color: #F9E4DD;
        color           : #707070;
    }

    /* ======contact====== */



    /* footer start*/
    footer .container {
        display              : grid;
        grid-template-columns: repeat(8, 1fr);

    }

    footer .footer-p {
        grid-column: 1/4;
        margin     : 0;
        height     : min-content;
    }

    footer p {
        text-align: left;
        font-size : 12px;
        margin    : 0;
        /* Q */
    }

    .footer-btn {
        grid-column: 6/9;
        margin     : 0;
        padding    : 0;
        height     : min-content;
    }

}

/* footer end*/

/* Desktop  */
@media screen and (min-width: 1280px) {


    /* header start */
    body .top {
        max-height: 300px;

    }

    .logo img {
        max-width    : 248px;
        margin-top   : 28px;
        margin-bottom: 24px;
    }


    nav ul {

        column-gap: 16px;

    }

    nav ul li {
        padding-top: 220px;

    }

    nav ul li a {
        height     : 48px;
        line-height: 48px;
        font-size  : 24px;

    }

    /* header end */

    /* ======home====== */

    /* home-1 start */

    .home {
        margin-top   : 32px;
        margin-bottom: 48px;
    }

    .home-1 {
        display              : grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .title {
        padding: 0;
        display: flex;
    }

    .title p {
        font-size     : 48px;
        font-weight   : 700;
        text-align    : center;
        line-height   : 120px;
        letter-spacing: 2px;
        margin        : auto;
    }

    /* home-1 end */
    /* home-2 start */

    .home-2-text1,
    .home-2-text2 {
        background-color: #F9E4DD;
        display         : flex;
        min-height      : 160px;
    }

    /* I use this to make the h3 stay in the parent element vertically
and horizontally in the center */
    .home-2 h3 {
        font-size     : 24px;
        line-height   : 36px;
        /* font-weight: 700; */
        text-align    : center;
        margin        : auto;
    }

    .home-2 {
        display              : grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows   : repeat(2, 1fr);
        row-gap              : 32px;
        column-gap           : 8px;
        grid-template-areas  :
            "a b"
            "c d";
    }

    .home-2-text1 {
        grid-area: a;
    }

    .home-2-img1 {
        grid-area: b;
    }

    .home-2-text2 {
        grid-area: d;
    }

    .home-2-img2 {
        grid-area: c;
    }


    /* ======home====== */

    /* ======about====== */
    .about h2 {
        font-size  : 36px;
        font-weight: 700;
    }

    .about .about-1,
    .about .about-p-education {
        font-size  : 18px;
        line-height: 40px;
    }

    .about-1 .about-img-1 {
        grid-column: 2/4;
    }

    .about-1 .about-1-p {
        grid-column: 5/8;
    }

    .about .about-2 p {
        font-size: 24px;
    }

    .about-2 div p {
        position: relative;
        top     : -64px;
    }

    .about-2 div {
        width        : calc(100%/4 - 8px);
        margin-bottom: 0;
        margin-bottom: -64px;

    }

    /* ======about====== */


    /* ======projects====== */


    /* ======projects====== */

    .projects {
        margin-bottom: 80px;
    }



    .projects p {
        /* font-size: 24px; */

        margin-bottom: 48px;
    }

    main .projects-1,
    main .projects-3 {
        display              : grid;
        grid-template-rows   : repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        row-gap              : 16px;
        column-gap           : 16px;
    }

    /* ======projects====== */

    /* ======contact====== */

    .contact {
        margin-bottom: 80px;

    }



    .contact label {
        font-size: 24px;


    }



    /* ======contact====== */





    /* footer start */
    footer p {
        font-size: 16px;
    }

    footer .footer-p {
        grid-column: 2/4;

    }

    footer .btn {
        font-size: 18px;

    }

    /* footer end */


}